<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
    <table>
    <tr>
    <td><a href="{% url 'customers:edit' %}">Change My Pickup Day</a></td>
    <td><a href="{% url 'customers:edit' %}">Request One-Time Pickup</a></td>
    <td><a href="{% url 'customers:suspend' %}">Suspend My Account</a></td>
    <td><a href="{% url 'customers:display_account' %}">Account Info</a></td>
    </tr>
    </table>
    {% elif group.name == "Employees" %}
    <p>Employee Navbar</p>
    {# insert employee specific navbar here #}
    {% endif %}
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}