{% extends 'base.html' %}

{% block title %}Employee Home{% endblock %}
{% block header %} Weekdays
{% endblock %}

{% block content %}
{% if user.is_authenticated %} 

<a href="{% url 'employees:filter' 'Monday' %}">Monday</a><br />
<a href="{% url 'employees:filter' 'Tuesday' %}">Tuesday</a><br />
<a href="{% url 'employees:filter' 'Wednesday' %}">Wednesday</a><br />
<a href="{% url 'employees:filter' 'Thursday' %}">Thursday</a><br />
<a href="{% url 'employees:filter' 'Friday' %}">Friday</a><br />

{% else %}
  <p>You are at the employee index, but you are not logged in.</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'accounts:register' %}">Sign Up</a>

{% endif %}
{% endblock %}