{% extends 'base.html' %}

{% block title %} Create Account {% endblock %}

{% block header %} Create Account {% endblock %}

{% block content %}
<h1> Please fill out the following form </h1>
<form action="{% url 'customers:create' %}" method="post">
    {% csrf_token %}
    Name: <input type="text" name="name" id="name"><br />
    Address: <input type="text" name="address" id="address"><br />
    Zip Code: <input type="text" name="zip_code" id = "zip_code"><br />
    Weekly Pick-up Day: <input type="text" name="weekly_pickup_day" id="weekly_pickup_day"><br />
    <input type="submit" value="Create">
</form>
{% endblock %}


    