{% extends 'base.html' %}


{% block title %} Customer Account Home {% endblock %}

{% block header %} Customer Account Home {% endblock %}

{% block content %}

<table class="table table-striped">
  <thead class="table-light"><h2>Account Information</h2></thead>
  <tbody>
    <tr>
        <td>Address</td>
        <td>{{customers.address}}</td>
    </tr>
    <tr> 
        <td>Zip Code</td>
        <td>{{customers.zip_code}}</td>
    </tr>
    <tr>
        <td>Balance</td>
        <td>{{customers.balance}}</td>
    </tr>

    <tr>
        <td>Balance</td>
        <td>{{customers.balance}}</td>
    </tr>
    <tr>
        <td>Weekly Pickup Day</td>
        <td>{{customers.weekly_pickup_day}}</td>
    </tr>
    <tr>
        <td>One-Time Pickup</td>
        <td>{{customers.one_time_pickup}}</td>
    </tr>
    <tr>
        <td>Suspend Start</td>
        <td>{{customers.suspend_start}}</td>
    </tr>
    <tr>
        <td>Suspend End</td>
        <td>{{customers.suspend_end}}</td>
    </tr>
  </tbody>
</table>


<a href="{% url 'customers:index' %}">Back</a>

{% endblock %}