{% extends 'base.html' %}

{% block title %} Suspend Dates {% endblock %}

{% block header %} Enter Suspend Dates {% endblock %}

{% block content %}

<h1>Please enter your dates below</h1>
<form action="{% url 'customers:suspend' %}" method="post">
  {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="suspend_start" name="suspend_start" />
        <label for="suspend_start">Start Date:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="suspend_end" name="suspend_end" />
        <label for="suspend_end">End Date:</label>
      </div>
      <input type="submit" value="Schedule" />
</form>

  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}