{% extends 'base.html' %}

{% block title %} Registration Home {% endblock %}

{% block header %} Registration Home {% endblock %}

{% block content %}

    Hello
<h1> Please fill out the following form </h1>
<form action="{% url 'customers:registration' %}" method="post">
    {% csrf_token %}
    Name: <input type="text" name="name" id="name"><br />
    User: <input type="text" name="user" id="user"><br />
    Address: <input type="text" name="address" id="address"><br />
    Zip Code: <input type="text" name="zip_code" id = "zip_code"><br />
    Weekly Pick-up Day: <input type="text" name="weekly_pickup_day" id="weekly_pickup_day"><br />
    One-time Pick-up: <input type="text" name="one_time_pickup" id="one_time_pickup"><br />
    Suspend Service Start Date: <input type="text" name="suspend_start" id="suspend_start"><br />
    Suspend Service End Date: <input type="text" name="suspend_end" id="suspend_end"><br />
    <input type="submit" value="Register">
</form>
{% endblock %}